    <style>
        @import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700|Montserrat:400,400i,500);
        @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
        #work-collections .collection-item.avatar {
            height: auto;
            padding-top: 22px;
        }
        
        #content .container .row {
            margin-bottom: 0;
        }
    </style>
    {% extends "appbuilder/base.html" %} {# Inherit from base.html #}
 
{% block content %}
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="container">
            <!--Start breadcrumbs -->
            <div class="row">
                <div class="col s10 m6 l6">
                    <h4 class="breadcrumbs-title">发送验证码短讯(大陸號請勿帶國碼）</h4>
                </div>
            </div>
            <!--End breadcrumbs -->
            <!-- START searchBar -->
            <div class="row">
                <form id="telsent" novalidate="novalidate">
                    <div class="row">
                        <div class="input-field col s6 offset-s1">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="message" class="materialize-textarea" name="message" placeholder="ex: 549" maxlength="155"></textarea>
                            <label for="message" class="active">验证码</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 offset-s1">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="phone" class="materialize-textarea" name="phone" placeholder="ex: 849100100"></textarea>
                            <label for="message" class="active">手机号</label>
                            <div id="card-alert" class="card gradient-45deg-light-blue-cyan">
                                <div class="card-content white-text">
                                    <p>
                                        <i class="material-icons">info_outline</i> &nbsp;&nbsp; 注意 : 發送完毕后，下方的MSGID请自行記錄下來
                                        <p></p>
                                        <i class="material-icons">info_outline</i> &nbsp;&nbsp; 注意 : 发送完毕后，要5-10分后再做MSGID查询
                                        <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 offset-s1">
                            <input type="submit" value="发送" id="submitExample">
                            <input type="reset" value="重置">
                        </div>
                    </div>
                </form>
            </div>
            <hr>

        </div>

    </div>
    <p id="result"></p> <!-- 顯示回傳資料 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- 引入 jQuery -->
    <script type="text/javascript">
    $(document).ready(function() {
        $("#submitExample").click(function() { //ID 為 submitExample 的按鈕被點擊時
            $.ajax({
                type: "POST", //傳送方式
                url: "../../", //傳送目的地
                dataType: "json", //資料格式
                data: { //傳送資料
                    phone: $("#phone").val(), //表單欄位 ID phone
                    message: $("#message").val() //表單欄位 ID message
                },
                success: function(data) {
                    if (data.phone) { //如果後端回傳 json 資料有 phone
                        $("#telsent")[0].reset(); //重設 ID 為 telsent 的 form (表單)
                        $("#result").html('<font color="#007500">您的電話為「<font color="#0000ff">' + data.phone + '</font>」，验证码「<font color="#0000ff">' + data.message + '</font>」！</font>');
                    } else { //否則讀取後端回傳 json 資料 errorMsg 顯示錯誤訊息
                        $("#telsent")[0].reset(); //重設 ID 為 telsent 的 form (表單)
                        $("#result").html('<font color="#ff0000">' + data.errorMsg + '</font>');
                    }
                },
                error: function(jqXHR) {
                    $("#telsent")[0].reset(); //重設 ID 為 telsent 的 form (表單)
                    $("#result").html('<font color="#ff0000">發生錯誤：' + jqXHR.status + '</font>');
                }
            })
        })
    });
    </script>
    {% endblock %}